<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>What main ingredients do you want to use?</p>
    <%= f.text_field :ingredients %>
  </div>

  <div class="field large-6 columns">
    <p>Choose 1-beginner, 2-intermediate, 3-master chef</p>
    <%= f.select :difficulty_level, [1, 2, 3], prompt: "Expertise" %>
  </div>


  <div class="field large-6 columns">
    <p>What's the maximum minutes you want to spend on this dish? (opt)</p>
    <%= f.number_field :time_range, prompt: "How " %>
  </div>


  <div class="field">
    <p>What's the occassion? (opt)</p>
    <%= f.text_field :occasion %>
  </div>


  <div class="field">
    <p>Any other notes or requests for the recipe? (opt)</p>
    <%= f.text_area :notes %>
  </div>


  <%= submit_tag "Submit", class: "button" %>
  </div>
<% end %>
