<%= simple_form_for @answer, html: { :class => 'form-horizontal' }, remote: true do |f| %>
 
  <%= f.input :text, label: "Suggestions", input_html: {class: "avg"} %>
  <%= f.input :question_id, as: :hidden, input_html: { value: params[:question_id] } %>


  <p>&nbsp;</p>
  <div class="form-actions">
    <%= f.submit %>
    <%= link_to 'Cancel', questions_path, :class => 'button tiny radius alert' %>
  </div>
<% end %>