<%= simple_form_for @answer, html: { :class => 'form-horizontal' }, remote: true do |f| %>
 
  <%= f.input :text, label: "Recipe Suggestions (links, personal recipes, etc.)", input_html: {class: "avg"} %>
  <%= f.input :question_id, as: :hidden, input_html: { value: params[:question_id] } %>


  <p>&nbsp;</p>
  <div class="actions">
   	<%= submit_tag "Submit", class: "button" %>
    <%= link_to 'Cancel', questions_path %>
  </div>
<% end %>